USE [master]
GO
/****** Object:  Database [TodoAppDb]    Script Date: 28.03.2022 04:00:24 ******/
CREATE DATABASE [TodoAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoAppDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TodoAppDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodoAppDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TodoAppDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoAppDb]
GO
/****** Object:  Table [dbo].[TodoTbl]    Script Date: 28.03.2022 04:00:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TodoTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TodoContent] [varchar](300) NULL,
	[IsDone] [bit] NULL,
 CONSTRAINT [PK_TodoTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
